.globalTitle {
    color: red;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

footer {
    width: 100%;
    background-color: darkgray;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 400px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }